<script src='waitinglist.js'></script>

<h1 class="display-4">Waiting List</h1>
<table class="table" id="waiting-list-table">
  <thead>
    <tr>
      <th>
        Position
      </th>
      <th>
        Patient ID
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Risk
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>
        {{@index}}
      </td>
      <td>
        {{this.pid}}
      </td>
      <td>
        {{this.fname}}
      </td>
      <td>
        {{this.lname}}
      </td>
      <td>
        {{this.priority}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="jumbotron">
<h5>Remove Top-most Patient</h5>
<button id="delButton" class="btn btn-primary">Pop Patient</button>
<br>
<br>

<h5>Edit Priority:</h4>
<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      Patient ID &nbsp
      <input type="number" min="0" step="1" name="pid" id="pid"><br>
    </div>
    <div class="form-group col-md-4">
      New Priority &nbsp
      <input type="number" min="1" step="1" value ="1" name="priority" id="priority"><br>
    </div>
  </div>
  <button id="editButton" class="btn btn-primary">Edit</button>
</form>
</div>
