<h1>Current Patient Information</h1>
<div>
  First Name: {{first_name}}<br>
  Middle Name: {{middle_name}}<br>
  Last Name: {{last_name}}<br>
  Address: {{address}}<br>
  City: {{city}} State: {{state}} Zipcode: {{zipcode}}</br>
  Phone Number: {{phone_number}}</br>
  Social Security Number: {{ssn}}</br>
  Symptoms: {{symptoms}}</br>
  <button id="edit-patient">Edit</button>
  <button id="continue">Continue</button>
</div>  